# Mock Data Creation

In [1]:
import pandas as pd
from mock_data_script import mock_data_generation as mds

## To create a mock data of rotational churners, we need a data of churners and use those as a basis of the data that are going to be "rotational churners". So we take the values from the churner data and add or subtract a few values in order to show that they have similar behavior, but may vary due to slight changes in their behavior.

In [2]:
d = []

for _ in range(20):
    weeks, IMEIs, phone_nums, credits_loaded, num_hrs, mdu, promos, times, active = mds.mock_churner_data()
    d.append(pd.DataFrame({
        'weeks':weeks, 
        'IMEI':IMEIs,
        'phone_nums':phone_nums,
        'credits_loaded_per_week':credits_loaded,
        'num_hrs_spend_on_net':num_hrs,
        'mobile_data_usage(gb)':mdu,
        'promos_used':promos,
        'active_times':times,
        'activity_status':active
        }))

In [3]:
d[0] # sample output

,weeks,IMEI,phone_nums,credits_loaded_per_week,num_hrs_spend_on_net,mobile_data_usage(gb),promos_used,active_times,activity_status
0,2018-04-17,939022743589095,09334425708,0,11.1,8.45,0,1,0
1,2018-04-24,939022743589095,09334425708,0,6.5,5.73,6,1,0
2,2018-05-01,939022743589095,09334425708,0,17.7,8.28,5,2,0
3,2018-05-08,939022743589095,09334425708,0,22.3,7.34,3,0,0
4,2018-05-15,939022743589095,09334425708,0,15.4,8.98,4,1,0
5,2018-05-22,939022743589095,09334425708,100,19.2,5.61,8,1,0
6,2018-05-29,939022743589095,09334425708,70,16.4,6.06,0,1,0
7,2018-06-05,939022743589095,09334425708,0,16.2,8.39,7,0,0
8,2018-06-12,939022743589095,09334425708,70,14.3,5.42,3,2,0
9,2018-06-19,939022743589095,09334425708,0,2.6,6.02,0,1,0
10,2018-06-26,939022743589095,09334425708,1000,4.9,5.53,5,1,0
11,2018-07-03,939022743589095,09334425708,20,7.3,6.20,1,0,0
12,2018-07-10,939022743589095,09334425708,100,1.1,6.87,4,0,0
13,2018-07-17,939022743589095,09334425708,0,10.7,6.76,8,2,0
14,2018-07-24,939022743589095,09334425708,0,1.9,8.48,6,1,0
15,2018-07-31,939022743589095,09334425708,70,12.9,5.49,3,0,0
16,2018-08-07,939022743589095,09334425708,0,7.9,6.19,10,0,0
17,2018-08-14,939022743589095,09334425708,20,4.5,8.90,6,2,0
18,2018-08-21,939022743589095,09334425708,200,22.6,8.17,1,0,0
19,2018-08-28,939022743589095,09334425708,20,10.1,7.14,7,1,0
20,2018-09-04,939022743589095,09334425708,0,15.5,7.87,1,1,0
21,2018-09-11,939022743589095,09334425708,0,6.7,5.04,5,2,0
22,2018-09-18,939022743589095,09334425708,0,17.7,8.60,1,0,0
23,2018-09-25,939022743589095,09334425708,30,12.9,6.86,8,1,0
24,2018-10-02,939022743589095,09334425708,70,15.8,5.18,7,0,0
25,2018-10-09,939022743589095,09334425708,200,4.9,8.64,10,1,0
26,2018-10-16,939022743589095,09334425708,20,4.9,8.79,9,0,0
27,2018-10-23,939022743589095,09334425708,30,6.5,7.01,9,0,0
28,2018-10-30,939022743589095,09334425708,0,5.5,7.41,8,1,0
29,2018-11-06,939022743589095,09334425708,0,16.9,6.26,10,1,0
30,2018-11-13,939022743589095,09334425708,0,22.3,9.00,3,1,0
31,2018-11-20,939022743589095,09334425708,30,1.0,7.83,8,1,0
32,2018-11-27,939022743589095,09334425708,0,18.4,7.29,1,2,0
33,2018-12-04,939022743589095,09334425708,0,6.7,8.14,8,1,0
34,2018-12-11,939022743589095,09334425708,500,18.8,8.09,0,2,0
35,2018-12-18,939022743589095,09334425708,0,8.6,8.52,5,0,0
36,2018-12-25,939022743589095,09334425708,0,11.9,7.61,7,1,0
37,2019-01-01,939022743589095,09334425708,70,2.7,5.42,3,2,0
38,2019-01-08,939022743589095,09334425708,0,20.1,7.10,1,0,0
39,2019-01-15,939022743589095,09334425708,1000,8.2,5.89,1,1,0
40,2019-01-22,939022743589095,09334425708,0,18.9,8.41,3,1,0
41,2019-01-29,939022743589095,09334425708,0,7.7,8.62,9,1,0
42,2019-02-05,939022743589095,09334425708,0,3.6,6.69,5,1,0
43,2019-02-12,939022743589095,09334425708,0,19.9,7.32,0,1,0
44,2019-02-19,939022743589095,09334425708,500,2.6,7.32,2,1,0
45,2019-02-26,939022743589095,09334425708,1000,0.6,7.17,2,0,0
46,2019-03-05,939022743589095,09334425708,0,0.0,0.00,0,0,1
47,2019-03-12,939022743589095,09334425708,0,0.0,0.00,0,0,1
48,2019-03-19,939022743589095,09334425708,0,0.0,0.00,0,0,1
49,2019-03-26,939022743589095,09334425708,0,0.0,0.00,0,0,1

In [4]:
# records of the weeks prior to confirming that each user has churned
for i in range(len(d)):
    print(len(d[i]),'weeks')

50 weeks
39 weeks
20 weeks
56 weeks
24 weeks
30 weeks
73 weeks
31 weeks
30 weeks
53 weeks
66 weeks
61 weeks
23 weeks
12 weeks
75 weeks
49 weeks
29 weeks
29 weeks
13 weeks
29 weeks

In [5]:
len(d) # number of users

20

### Putting Datas in Separate Sheets in an Excel File

In [6]:
with pd.ExcelWriter('data/mock/sample_mock_c_data.xlsx') as writer:
    for i in range(len(d)):
        d[i].to_excel(writer, sheet_name=('d{}'.format(i)), index=False)

# Generating Rotational Churners

In [7]:
import numpy as np
import pandas as pd
from mock_data_script import mock_data_generation as mdg

dfs = pd.ExcelFile('data/mock/sample_mock_c_data.xlsx')
sheets = dfs.sheet_names
d = []
for i in range(5):
    d.append(dfs.parse(sheet_name=sheets[i]))

In [8]:
d[0].head()

,weeks,IMEI,phone_nums,credits_loaded_per_week,num_hrs_spend_on_net,mobile_data_usage(gb),promos_used,active_times,activity_status
0,2018-04-17,939022743589095,9334425708,0,11.1,8.45,0,1,0
1,2018-04-24,939022743589095,9334425708,0,6.5,5.73,6,1,0
2,2018-05-01,939022743589095,9334425708,0,17.7,8.28,5,2,0
3,2018-05-08,939022743589095,9334425708,0,22.3,7.34,3,0,0
4,2018-05-15,939022743589095,9334425708,0,15.4,8.98,4,1,0

In [9]:
len(times)

29

In [10]:
rc = []

for i in range(5):
        weeks, IMEIs, phone_nums, credits_loaded, num_hrs, mdu, promos, times, active = mdg.mock_rc_data(d[i]['weeks'][len(d[i])-4].strftime('%Y-%m-%d'), len(d[0])-4, d[0][:][:-4])
        rc.append(
                pd.DataFrame({
                'weeks':weeks, 
                'IMEI':IMEIs,
                'phone_nums':phone_nums,
                'credits_loaded_per_week':credits_loaded,
                'num_hrs_spend_on_net':num_hrs,
                'mobile_data_usage(gb)':mdu,
                'promos_used':promos,
                'active_times':times,
                'activity_status':active
                })
        )

active_times
active_times
active_times
active_times
active_times

In [11]:
rc[0]

,weeks,IMEI,phone_nums,credits_loaded_per_week,num_hrs_spend_on_net,mobile_data_usage(gb),promos_used,active_times,activity_status
0,2019-04-09,916288205654472,09667616603,0,11.1,7.2,0,0,0
1,2019-04-16,916288205654472,09667616603,0,6.5,5.7,4,0,0
2,2019-04-23,916288205654472,09667616603,20,18.2,7.3,4,1,0
3,2019-04-30,916288205654472,09667616603,0,22.3,6.4,3,1,0
4,2019-05-07,916288205654472,09667616603,30,15.4,9.0,5,1,0
5,2019-05-14,916288205654472,09667616603,90,19.2,6.5,9,1,0
6,2019-05-21,916288205654472,09667616603,50,15.1,5.6,0,1,0
7,2019-05-28,916288205654472,09667616603,20,16.2,8.4,7,1,0
8,2019-06-04,916288205654472,09667616603,90,13.5,5.4,1,2,0
9,2019-06-11,916288205654472,09667616603,30,3.2,6.9,0,2,0
10,2019-06-18,916288205654472,09667616603,1000,4.9,5.5,7,2,0
11,2019-06-25,916288205654472,09667616603,1000,7.3,6.7,2,0,0
12,2019-07-02,916288205654472,09667616603,70,1.1,6.9,4,0,0
13,2019-07-09,916288205654472,09667616603,0,10.0,7.4,10,2,0
14,2019-07-16,916288205654472,09667616603,0,1.3,8.5,4,2,0
15,2019-07-23,916288205654472,09667616603,50,13.6,6.4,1,1,0
16,2019-07-30,916288205654472,09667616603,20,6.7,6.3,10,1,0
17,2019-08-06,916288205654472,09667616603,30,5.1,9.9,5,1,0
18,2019-08-13,916288205654472,09667616603,300,22.6,8.2,0,0,0
19,2019-08-20,916288205654472,09667616603,0,10.8,6.0,9,0,0
20,2019-08-27,916288205654472,09667616603,0,16.3,7.9,3,0,0
21,2019-09-03,916288205654472,09667616603,0,5.4,5.0,4,2,0
22,2019-09-10,916288205654472,09667616603,20,17.7,9.7,2,0,0
23,2019-09-17,916288205654472,09667616603,70,13.9,6.9,8,2,0
24,2019-09-24,916288205654472,09667616603,50,15.8,4.5,6,2,0
25,2019-10-01,916288205654472,09667616603,1000,4.9,8.3,10,0,0
26,2019-10-08,916288205654472,09667616603,50,5.9,8.8,8,0,0
27,2019-10-15,916288205654472,09667616603,20,5.5,6.1,10,1,0
28,2019-10-22,916288205654472,09667616603,20,5.5,7.1,8,2,0
29,2019-10-29,916288205654472,09667616603,20,16.9,5.8,10,2,0
30,2019-11-05,916288205654472,09667616603,0,22.3,9.0,1,2,0
31,2019-11-12,916288205654472,09667616603,0,1.8,8.1,9,0,0
32,2019-11-19,916288205654472,09667616603,0,18.4,7.6,1,0,0
33,2019-11-26,916288205654472,09667616603,20,7.4,7.0,7,1,0
34,2019-12-03,916288205654472,09667616603,200,17.6,7.4,1,2,0
35,2019-12-10,916288205654472,09667616603,30,8.6,8.5,5,2,0
36,2019-12-17,916288205654472,09667616603,0,11.3,7.9,7,2,0
37,2019-12-24,916288205654472,09667616603,100,2.7,5.4,3,1,0
38,2019-12-31,916288205654472,09667616603,0,21.1,7.1,1,1,0
39,2020-01-07,916288205654472,09667616603,800,8.2,5.9,0,2,0
40,2020-01-14,916288205654472,09667616603,20,20.1,7.1,3,0,0
41,2020-01-21,916288205654472,09667616603,20,6.8,8.3,10,2,0
42,2020-01-28,916288205654472,09667616603,0,2.6,7.8,5,2,0
43,2020-02-04,916288205654472,09667616603,0,19.1,6.3,0,2,0
44,2020-02-11,916288205654472,09667616603,300,1.5,7.3,4,2,0
45,2020-02-18,916288205654472,09667616603,500,0.6,7.2,2,0,0

In [12]:
with pd.ExcelWriter('data/mock/sample_mock_rc_data.xlsx') as writer:
    for i in range(len(rc)):
        rc[i].to_excel(writer, sheet_name=('rc{}'.format(i)), index=False)