# Customer Happiness Index Prediction

**Made by: Group 6 in partial completion of Pattern Recognition Class**
 - Timothy Chan
 - Rhyle Nodnylson Guinto
 - Chino Laguda
 - Randall Joseph Pajaro

## Importing required libraries and dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('telco_dataset.csv')
df.head()

,Customer_ID,subscription_type,start_date,years_active,no_of_other_postpaid_accounts,frequent_availed_top_up_amount_30days,postpaid_plan_30days,monthly_revenue,no_of_top_ups_30days,last_date_top_up,...,no_of_days_subscribed_to_OtherApps_30days,total_hours_internet_usage_30days,total_hours_OtherApps_usage_30days,no_of_failed_Call_Text_30days,no_of_failed_Surfing_30days,no_of_failed_143hotline_30days,no_of_call_records_Complaint_30days,mins_of_call_records_Complaint_30days,no_of_logged_GlobeOne_30days,Survey_Score
0,0917-2849660931,postpaid,04/06/2010,9.30,0,116,999,1115,1,5/19/2019,...,23,234,234,20,18,7,4,3,14,7
1,0917-3521446959,prepaid,05/07/2014,5.16,0,100,0,300,2,4/14/2019,...,3,136,20,28,20,11,5,23,9,3
2,0917-6526588656,postpaid,09/06/2017,1.78,0,200,599,799,1,5/18/2019,...,26,139,247,5,4,6,9,13,9,0
3,0917-8987002220,prepaid,10/08/2013,5.75,0,300,0,499,2,5/30/2019,...,26,78,119,17,27,25,4,27,16,0
4,0917-5353179110,prepaid,7/28/2011,7.98,0,100,0,400,5,4/23/2019,...,0,258,113,30,11,9,2,3,1,0

## User Profile

In [3]:
# For cleanliness and understanding purposes, the results of the ratings shall be placed in a new dataframe called "data"
data = pd.DataFrame()

# sub_type_rating
data['subscription_type_score'] = np.where(df['subscription_type']=='postpaid', 10, 5)


# years_active_rating
conditions = [
    (df['years_active'] < 1),
    (df['years_active'] >= 1) & (df['years_active'] <= 2),
    (df['years_active'] > 2) & (df['years_active'] <= 4),
    (df['years_active'] > 4) & (df['years_active'] <= 6),
    (df['years_active'] > 6) & (df['years_active'] <= 8),
    (df['years_active'] > 8)    
]
values = [5, 6, 7, 8, 9, 10]
data['years_active_rating'] = np.select(conditions, values)


# other_postpaid_accts rating
conditions = [
    (df['no_of_other_postpaid_accounts'] >= 0) & (df['no_of_other_postpaid_accounts'] <= 1),
    (df['no_of_other_postpaid_accounts'] >= 2) & (df['no_of_other_postpaid_accounts'] <= 3),
    (df['no_of_other_postpaid_accounts'] >= 4) & (df['no_of_other_postpaid_accounts'] <= 5)
]
values = [8, 9, 10]
data['other_accts_rating'] = np.select(conditions, values)

In [4]:
data.head()

   subscription_type_score  years_active_rating  other_accts_rating
0                       10                   10                   8
1                        5                    8                   8
2                       10                    6                   8
3                        5                    8                   8
4                        5                    9                   8

## Load Profile

In [5]:
# frequent_availed_top_up_amount_30days rating
conditions = [
    (df['frequent_availed_top_up_amount_30days'] == 0),
    (df['frequent_availed_top_up_amount_30days'] > 0) & (df['frequent_availed_top_up_amount_30days'] <= 50),
    (df['frequent_availed_top_up_amount_30days'] > 50) & (df['frequent_availed_top_up_amount_30days'] <= 100),
    (df['frequent_availed_top_up_amount_30days'] > 100) & (df['frequent_availed_top_up_amount_30days'] <= 200),
    (df['frequent_availed_top_up_amount_30days'] > 200) & (df['frequent_availed_top_up_amount_30days'] <= 300),
    (df['frequent_availed_top_up_amount_30days'] > 300) & (df['frequent_availed_top_up_amount_30days'] <= 500),
    (df['frequent_availed_top_up_amount_30days'] > 500)
]
values = [0,3,5,7,8,9,10]
data['freq_avail_top_up_30d_rating'] = np.select(conditions, values)


# no_of_top_ups_30days rating
conditions = [
    (df['no_of_top_ups_30days'] == 0),
    (df['no_of_top_ups_30days'] == 1),
    (df['no_of_top_ups_30days'] == 2),
    (df['no_of_top_ups_30days'] >= 3) & (df['no_of_top_ups_30days'] <= 4),
    (df['no_of_top_ups_30days'] >= 5) & (df['no_of_top_ups_30days'] <= 7),
    (df['no_of_top_ups_30days'] >= 8) & (df['no_of_top_ups_30days'] <= 10)
]
values = [0,5,6,7,9,10]
data['no_of_top_ups_30days_rating'] = np.select(conditions, values)


# days_since_last_two_top_ups rating
conditions = [
    (df['days_since_last_two_top_ups'] > 51),
    (df['days_since_last_two_top_ups'] >= 41) & (df['days_since_last_two_top_ups'] <= 50),
    (df['days_since_last_two_top_ups'] >= 31) & (df['days_since_last_two_top_ups'] <= 40),
    (df['days_since_last_two_top_ups'] >= 22) & (df['days_since_last_two_top_ups'] <= 30),
    (df['days_since_last_two_top_ups'] >= 15) & (df['days_since_last_two_top_ups'] <= 21),
    (df['days_since_last_two_top_ups'] >= 10) & (df['days_since_last_two_top_ups'] <= 14),
    (df['days_since_last_two_top_ups'] < 10)  
]
values = [0,3,5,7,8,9,10]
data['days_since_last_two_top_ups_rating'] = np.select(conditions, values)

In [6]:
data.head()

,subscription_type_score,years_active_rating,other_accts_rating,freq_avail_top_up_30d_rating,no_of_top_ups_30days_rating,days_since_last_two_top_ups_rating
0,10,10,8,7,5,8
1,5,8,8,5,6,0
2,10,6,8,7,5,8
3,5,8,8,8,6,10
4,5,9,8,5,9,3

## Subscription Profile

In [7]:
# no_of_days_subscribed_to_Call_Text_30days rating
conditions = [
    (df['no_of_days_subscribed_to_Call_Text_30days'] == 0),
    (df['no_of_days_subscribed_to_Call_Text_30days'] >= 1) & (df['no_of_days_subscribed_to_Call_Text_30days'] <= 2),
    (df['no_of_days_subscribed_to_Call_Text_30days'] >= 3) & (df['no_of_days_subscribed_to_Call_Text_30days'] <= 7),
    (df['no_of_days_subscribed_to_Call_Text_30days'] >= 8) & (df['no_of_days_subscribed_to_Call_Text_30days'] <= 14),
    (df['no_of_days_subscribed_to_Call_Text_30days'] >= 15) & (df['no_of_days_subscribed_to_Call_Text_30days'] <= 21),
    (df['no_of_days_subscribed_to_Call_Text_30days'] >= 21) & (df['no_of_days_subscribed_to_Call_Text_30days'] <= 29),
    (df['no_of_days_subscribed_to_Call_Text_30days'] == 30)
]
values = [1,3,5,7,8,9,10]
data['no_of_days_subscribed_to_Call_Text_30days'] = np.select(conditions, values)

# no_of_days_subscribed_to_GoSurf_30days rating
conditions = [
    (df['no_of_days_subscribed_to_GoSurf_30days'] == 0),
    (df['no_of_days_subscribed_to_GoSurf_30days'] >= 1) & (df['no_of_days_subscribed_to_GoSurf_30days'] <= 2),
    (df['no_of_days_subscribed_to_GoSurf_30days'] >= 3) & (df['no_of_days_subscribed_to_GoSurf_30days'] <= 7),
    (df['no_of_days_subscribed_to_GoSurf_30days'] >= 8) & (df['no_of_days_subscribed_to_GoSurf_30days'] <= 14),
    (df['no_of_days_subscribed_to_GoSurf_30days'] >= 15) & (df['no_of_days_subscribed_to_GoSurf_30days'] <= 21),
    (df['no_of_days_subscribed_to_GoSurf_30days'] >= 21) & (df['no_of_days_subscribed_to_GoSurf_30days'] <= 29),
    (df['no_of_days_subscribed_to_GoSurf_30days'] == 30)
]
values = [1,3,5,7,8,9,10]
data['no_of_days_subscribed_to_GoSurf_30days_rating'] = np.select(conditions, values)


# no_of_days_subscribed_to_GoWatch_30days rating
conditions = [
    (df['no_of_days_subscribed_to_GoWatch_30days'] >= 0) & (df['no_of_days_subscribed_to_GoWatch_30days'] <= 2),
    (df['no_of_days_subscribed_to_GoWatch_30days'] >= 3) & (df['no_of_days_subscribed_to_GoWatch_30days'] <= 7),
    (df['no_of_days_subscribed_to_GoWatch_30days'] >= 8) & (df['no_of_days_subscribed_to_GoWatch_30days'] <= 14),
    (df['no_of_days_subscribed_to_GoWatch_30days'] >= 15) & (df['no_of_days_subscribed_to_GoWatch_30days'] <= 21),
    (df['no_of_days_subscribed_to_GoWatch_30days'] >= 21) & (df['no_of_days_subscribed_to_GoWatch_30days'] <= 29),
    (df['no_of_days_subscribed_to_GoWatch_30days'] == 30)
]
values = [5,6,7,8,9,10]
data['no_of_days_subscribed_to_GoWatch_30days_rating'] = np.select(conditions, values)


# no_of_days_subscribed_to_OtherApps_30days rating
conditions = [
    (df['no_of_days_subscribed_to_OtherApps_30days'] >= 0) & (df['no_of_days_subscribed_to_OtherApps_30days'] <= 2),
    (df['no_of_days_subscribed_to_OtherApps_30days'] >= 3) & (df['no_of_days_subscribed_to_OtherApps_30days'] <= 7),
    (df['no_of_days_subscribed_to_OtherApps_30days'] >= 8) & (df['no_of_days_subscribed_to_OtherApps_30days'] <= 14),
    (df['no_of_days_subscribed_to_OtherApps_30days'] >= 15) & (df['no_of_days_subscribed_to_OtherApps_30days'] <= 21),
    (df['no_of_days_subscribed_to_OtherApps_30days'] >= 21) & (df['no_of_days_subscribed_to_OtherApps_30days'] <= 29),
    (df['no_of_days_subscribed_to_OtherApps_30days'] == 30)
]
values = [5,6,7,8,9,10]
data['no_of_days_subscribed_to_OtherApps_30days_rating'] = np.select(conditions, values)

In [8]:
data.head()

,subscription_type_score,years_active_rating,other_accts_rating,freq_avail_top_up_30d_rating,no_of_top_ups_30days_rating,days_since_last_two_top_ups_rating,no_of_days_subscribed_to_Call_Text_30days,no_of_days_subscribed_to_GoSurf_30days_rating,no_of_days_subscribed_to_GoWatch_30days_rating,no_of_days_subscribed_to_OtherApps_30days_rating
0,10,10,8,7,5,8,10,10,8,9
1,5,8,8,5,6,0,8,7,8,6
2,10,6,8,7,5,8,10,10,7,9
3,5,8,8,8,6,10,9,7,8,9
4,5,9,8,5,9,3,5,5,10,5

## Customer Profile

In [9]:
# creating a dataframe called cp (customer profile) with the rating contents of user profile, load profile, sub profile, customer exp, and customer support engagement
cp = pd.DataFrame()

cp = cp.assign(user_profile=((data['subscription_type_score'] + data['years_active_rating'] + data['other_accts_rating'])/30)*100)
cp = cp.assign(load_profile=((data['freq_avail_top_up_30d_rating'] + data['no_of_top_ups_30days_rating'] + data['days_since_last_two_top_ups_rating'])/30)*100)
cp = cp.assign(subscription_profile=((data['no_of_days_subscribed_to_Call_Text_30days'] + data['no_of_days_subscribed_to_GoSurf_30days_rating'] + data['no_of_days_subscribed_to_GoWatch_30days_rating'] + data['no_of_days_subscribed_to_OtherApps_30days_rating'])/40)*100)

In [10]:
cp.head()

   user_profile  load_profile  subscription_profile
0     93.333333     66.666667                  92.5
1     70.000000     36.666667                  72.5
2     80.000000     66.666667                  90.0
3     70.000000     80.000000                  82.5
4     73.333333     56.666667                  62.5